@model IEnumerable<BREW_POS.Models.Shift>

@{
    Layout = "_KasirLayout";
}

<div class="container mt-4">

    <h2 class="fw-bold mb-4">
        📊 Shift History
    </h2>

    <div class="card shadow-sm border-0">

        <div class="table-responsive">

            <table class="table align-middle mb-0">

                <thead class="table-light">

                    <tr>
                        <th>Shift</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Total Sales</th>
                        <th>Action</th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.ShiftName</td>

                            <td>@item.StartTime</td>

                            <td>@item.EndTime</td>

                            <td>
                                Rp @item.TotalSales
                            </td>
                            <td>

                                <a href="/Shift/Details/@item.ShiftId"
                                   class="btn btn-sm btn-dark">

                                    Detail

                                </a>

                            </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>