@model BREW_POS.Models.User

@{
    Layout = "_AdminLayout";
}

<h2 class="mb-4">Tambah User</h2>

<div class="card p-4">

    <form asp-action="CreateUser"
          method="post">

        <div class="mb-3">
            <label class="fw-semibold">Nama Lengkap</label>
            <input asp-for="FullName"
                   class="form-control"
                   required />
        </div>

        <div class="mb-3">
            <label class="fw-semibold">Username</label>
            <input asp-for="Username"
                   class="form-control"
                   required />
        </div>

        <div class="mb-3">
            <label class="fw-semibold">Password</label>
            <input asp-for="PasswordHash"
                   type="password"
                   class="form-control"
                   required />
        </div>

        <div class="mb-3">
            <label class="fw-semibold">Role</label>
            <select asp-for="Role"
                    class="form-select"
                    required>
                <option value="Admin">Admin</option>
                <option value="Kasir">Kasir</option>
            </select>
        </div>

        <button class="btn btn-dark">
            Simpan User
        </button>

        <a href="/Admin/Users"
           class="btn btn-outline-secondary">
            Kembali
        </a>

    </form>

</div>