<div class="container mt-5">

    <h2 class="mb-4">Dashboard Admin ☕</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5>Kelola Menu</h5>
                    <a href="/Menu" class="btn btn-primary mt-2">Masuk</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body text-center">

                    <h5>Kelola User</h5>

                    <a href="/Admin/Users"
                       class="btn btn-dark mt-2">

                        Masuk

                    </a>

                </div>
            </div>
        </div>

    </div>

</div>